/* Navbars */

#nav-bar {
    background-color: #ccd2d9;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: left;
    gap : 15px;
    /* padding-top : 15px; */
    padding-left: 15px;
}

#nav-bar .navbar-item a {
    text-decoration: none;
    color: black;
}

#navbar-items .navbar-item:hover {
    a {
        color: blue;
        /* background-color: darkgray; */
    }
}

#nav-bar .navbar-item:hover {
    span {
        color : blue !important;
    }
}

/* responsive cho navbar */

@media screen and (max-width : 1024px) {

    .layout-left {
        margin-left: 30px !important;
    }

    .layout-right {
        margin-right: 30px !important;
    }

    #navbar-items {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        justify-content: left;
        margin-left: 0px !important;
        background-color: white;
        padding: 35px;
        width: 300px;
    }

    #navbar-items .navbar-item {
        /* padding-bottom: 15px; */
    }
}